
@{
            ViewBag.Title = "首页";
}

@*<marquee><font size="3" color=red>Hello, World</font></marquee>*@

<script src="~/scripts/jquery.signalr-2.2.0.js"></script>
<script src="/signalr/hubs"></script>
<script>
    $(function () {
        var hubProxy = $.connection.sMHub;

        $.connection.hub.start(null, function () {
            console.log("start");
        });

        hubProxy.client.Send = function (type, message) {
            console.log(message);
            if (type == "info") {
                var str = '<li class="news-item">{0}<a href="{1}">查看全部</a>{2}</li>';
                var dateStr = $.formatDate("yyyy-MM-dd hh:mm:ss", new Date(message.CreateDate)); //转换时间
                str = $.format(str, message.Title, message.Url, dateStr);
                $(".infoData").prepend(str);
            }
            else if (type == "user") {
                var str = '<li class="news-item">{0}<a href="{1}">查看全部</a>{2}</li>';
                var dateStr = $.formatDate("yyyy-MM-dd hh:mm:ss", new Date(message.CreateDate)); //转换时间
                str = $.format(str, message.Title, message.Url, dateStr);
                $(".userData").prepend(str);
            }
        }



        $("#btnTest").click(function () {
            hubProxy.server.send("222", "222", "222");
            console.log(hubProxy.server);
        });
    });
</script>
<div class="container top-0-8">
    <div class="row">
        <div class="col-md-8">
            @*这里是主体
                <button id="btnTest">SignalR</button>*@
            @foreach (var item in ViewBag.HomeInfoes)
            {
                <article class="excerpt excerpt-none excerpt-5 article53">
                    <header>
                        <a class="cat label label-important" data-original-title="" title=""><i class="glyphicon glyphicon-tags"></i>@item.Category</a>
                        <h2><a href="@item.Url" target="_blank" title="@item.Title">@item.Title</a></h2>
                    </header>
                    <div class="text-muted time">
                        <span class="post-time nmpost"><i class="glyphicon glyphicon-time"></i>  发布于 @item.CreateDate</span>
                    </div>
                    @if (!string.IsNullOrEmpty(item.ImageUrl))
                    {
                        <div class="focus">
                            <a href="@item.Url" target="_blank" class="thumbnail">
                                <span class="item"><span class="thumb-span"><img data-src="@item.ImageUrl" class="thumb" src="@item.ImageUrl" style="display: inline;" width="240" height="148"></span></span>
                            </a>
                        </div>
                    }
                    <span class="note">@item.Description</span>
                    <div class="text-muted views">
                        <span class="post-views"><i class="glyphicon glyphicon-book"></i> 阅读(@item.Browses)</span>
                        @*<a href="javascript:;" class="post-like sf-praise-sdk pull-right" sfa="click" data-postid="53" data-value="1">
                            <i class="fa  fa-thumbs-o-up"></i>赞一个  (<span class="sf-praise-sdk" sfa="num" data-value="1" data-postid="53">0</span>)</a>*@
                        <span class="post-comments"><i class="fa fa-comments"></i></span>
                    </div>
                </article>
            }
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">资料最新动态</div>
                <ul class="infoData list-group">
                    @foreach (var item in ViewBag.Infoes)
                    {
                        <li class="list-group-item news-item">@item.Title <a href="@item.Url">查看全部</a>@item.CreateDate</li>
                    }
                </ul>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">用户最新动态</div>
                    <ul class="userData list-group">
                        @foreach (var item in ViewBag.Users)
                        {
                            <li class="list-group-item news-item">@item.Title <a href="@item.Url">查看全部</a>@item.CreateDate</li>
                        }
                    </ul>
            </div>
        </div>
    </div>
</div>
<script src="~/scripts/jquery.bootstrap.newsbox.js"></script>
<script type="text/javascript">
    $(function () {

        $(".infoData").bootstrapNews({
            newsPerPage: 4,
            autoplay: true,
            pauseOnHover: true,
            navigation: false,
            direction: 'down',
            newsTickerInterval: 2500,
            onToDo: function () {
                
            }
        });

        $(".userData").bootstrapNews({
            newsPerPage: 4,
            autoplay: true,
            pauseOnHover: true,
            navigation: false,
            direction: 'down',
            newsTickerInterval: 2500,
            onToDo: function () {
               
            }
        });
    });
</script>