@using SmallCode.Web.Models.ViewModels;
@using SmallCode.Web.Models;
@model SmallCode.Pager.PagedList<TopicViewModel>
@using SmallCode.Pager;

@{
    ViewBag.Title = "博客";
    User user = ViewBag.User as User;
}
<link href="~/styles/page.css" rel="stylesheet" />
<div class="container top-0-8">
    <div class="row">
        <div class="col-md-9 panel-body widget">
            @foreach (var item in Model.PageListData)
            {
                <div class="topic ">
                    <div class="avatar right-0-1">
                        <a href="#"><img class="avatar-48" src="/img/96.png" alt="96"></a>
                    </div>
                    <div class="media-body">
                        <div class="title">
                            <a href="/Ask/Show/@item.Id">
                                @item.Title
                            </a>
                        </div>
                        <div class="info">
                            @item.NodeName 【<label>@item.UserName</label>】发布于 @item.CreateDate
                            @if (item.ReplyCount > 0)
                            {
                                <label>最后回复 @item.LastReplyDate</label>
                            }
                        </div>
                    </div>
                    <div class="count media-right">
                        <a class="state-false" href="/Topic/1290#reply1">@item.ReplyCount</a>
                    </div>
                </div>
            }
            @Html.PagedListPager(Model, pageIndex => Url.Action("Index", new { pageIndex }))
        </div>
        <aside class="col-md-3">
            <div class="blog-widget">
                <a href="/Ask/Publish" class="btn btn-primary"><strong>我要发布问题</strong></a>
            </div>

            <div class="panel panel-default topics">
                <div class="panel-heading">
                    <h3 class="panel-title">用户信息</h3>
                </div>
                <div class="list-group">
                    <div class="list-group-item">
                        @user.UserName
                    </div>
                    <div class="list-group-item">
                        @user.Role
                    </div>
                </div>
            </div>
        </aside>
    </div>
</div>